<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BikeTracker</title>
</head>
<body>
    <h1>BikeTracker</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th width="10%">
                    Seq
                </th>
                <th width="15%">
                    Received on ({{ timezone.zone }})
                </th>
                <th width="15%">
                    Coordinates
                </th>
                <th width="10%">
                    Altitude
                </th>
                <th width="10%">
                    Distance
                </th>
                <th width="10%">
                    Alt. gain
                </th>
                <th width="15%">
                    Max speed
                </th>
                <th width="15%">
                    Activity
                </th>
            </tr>
        </thead>

        <tbody>
            {% for probe in probes %}
                <tr>
                    <td>{{ probe.seq }}</td>
                    <td>{{ probe.received_at_local.strftime('%c') }}</td>
                    <td>
                        <a href="https://www.openstreetmap.org/?mlat={{ probe.lat }}&mlon={{ probe.lng }}">
                            {{ probe.lat }} {{ probe.lng }}
                        </a>
                    </td>
                    <td>{{ probe.alt }} m</td>
                    <td>{{ probe.dist }} m</td>
                    <td>{{ probe.alt_gain }} m</td>
                    <td>
                        {{ "{:,.2f} m/s".format(probe.max_speed) }} 
                        ({{ "{:,.2f} km/h".format(probe.max_speed * 3.6) }})
                    </td>
                    <td>
                        {% if probe.activity_id %}
                            <a href="{{ url_for('activity', id=probe.activity_id) }}">
                                {{ probe.activity_id }}
                            </a>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>